*{
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 80px;
    
}
.nav a{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 13.5px;
    color: #646569;
    
    padding: 30px 20px;
    

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.logo-plaindes{
    
    padding: 10px;
    display: flex;
    align-items: center;
    
}
.logo-plaindes img{
    width: 228px;
    height: 60px;
}
.redes{
    gap: 10px;
    display: flex;
    justify-content: space-between;
}
.redes a img{
    width: 30px;
    height: 30px;
    
}
.buscador{
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: inherit;
    
}
.buscador img{
    width: 26px;
    height: 20px;
}
.buscador input{
    display: flex;
    height: 80px;
    border: none;
}
.menu_icono{
    
    display: flex;
    align-items: center;
   padding-right: 15PX; 
}
.menu_icono a{
    padding-right: 5px;
}
.icono_tri{
    width: 8px;
    height: 6px;
}
.portada img{
    width: 100%;

}
.Contenedores{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px 20px 0px;
    
    width: 100%;
    
}
.contenedor{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    
    gap: 10px;
}
.titulo{
    display: flex;
        gap: 15px;
    padding: 0px 90px 0px 90px;
    
    align-items: center;
    
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    color: #414246;
}
.tri_h1{
    width: 25px;
    height: 32px;
    
}
.linea{
    border: none;         
    height: 2px;          
    background-color: rgb(0, 0, 0, 0.2); 
    width: 1060px;          /* Longitud de la línea (ajusta según tus necesidades) */
    margin: 23px 0;
}
.linea_SR{
    border: none;         
    height: 2px;          
    background-color: rgb(0, 0, 0, 0.2); 
    width: 660px;          /* Longitud de la línea (ajusta según tus necesidades) */
    margin: 23px 0;
}
.contenido {
    display: flex;
    justify-content: center;
    
    width: 100%;
    padding: 0;
}
.columnas{
    display: flex;
    padding-top: 20px;
}
.tarjeta{
    width: 16.4vw;
    height: 360px;
    background-image: url(servicios1.jpg);
    background-size: 700px; /* Tamaño total de la imagen */
    background-position: -150px ; /* Desplazamiento para mostrar una parte específica primero es en horizontal y el segundo en vertical*/
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    filter: grayscale(100%);
    background-color: rgba(0, 0, 0, 0.258);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.tarjeta_contenido{
    font-size: 18px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #8d8d8d9b;
     
}
.tarjeta2{
    width: 16.4vw;
    height: 360px;
    background-image: url(servicios2.jpg);
    background-size: 800px; /* Tamaño total de la imagen */
    background-position: -150px ; /* Desplazamiento para mostrar una parte específica primero es en horizontal y el segundo en vertical*/
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    filter: grayscale(100%);
    background-color: rgba(0, 0, 0, 0.258);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.tarjeta3{
    width: 16.4vw;
    height: 360px;
    background-image: url(servicios3.jpeg);
    background-size: 800px; /* Tamaño total de la imagen */
    background-position: -150px ; /* Desplazamiento para mostrar una parte específica primero es en horizontal y el segundo en vertical*/
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    filter: grayscale(100%);
    background-color: rgba(0, 0, 0, 0.258);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.tarjeta4{
    width: 16.4vw;
    height: 360px;
    background-image: url(servicios4.jpg);
    background-size: 800px; /* Tamaño total de la imagen */
    background-position: -150px ; /* Desplazamiento para mostrar una parte específica primero es en horizontal y el segundo en vertical*/
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    filter: grayscale(100%);
    background-color: rgba(0, 0, 0, 0.258);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.tarjeta5{
    width: 16.4vw;
    height: 360px;
    background-image: url(servicios5.jpg);
    background-size: 800px; /* Tamaño total de la imagen */
    background-position: -150px ; /* Desplazamiento para mostrar una parte específica primero es en horizontal y el segundo en vertical*/
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    filter: grayscale(100%);
    background-color: rgba(0, 0, 0, 0.258);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.tarjeta6{
    width: 16.4vw;
    height: 360px;
    background-image: url(servicios6.jpg);
    background-size: 800px; /* Tamaño total de la imagen */
    background-position: -150px ; /* Desplazamiento para mostrar una parte específica primero es en horizontal y el segundo en vertical*/
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    filter: grayscale(100%);
    background-color: rgba(0, 0, 0, 0.258);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}